{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <div class="row">
            <div class="col-md-1">
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_imgs/'+post.author.img_file) }}" alt="profile image">
            </div>

            <div class="media-body col" style="margin-left: 15px">
                <div class="article-metadata">
                  <a style="margin-right: 5px" href="{{ url_for('users.user_posts', username=post.author.username)}}">{{ post.author.username }}</a>
                  <small class="text-muted">{{ post.date_posted.strftime("%Y-%m-%d") }}</small>
                </div>
                {% if post.author == current_user %}
                    <div>
                        <a class="btn btn-secondary btn-sm my-3" href="{{ url_for('posts.update_post', post_id=post.id) }}">Update</a>
                        <button type="button" class="btn btn-danger btn-sm m-3" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                    </div>
                {% endif %}
                <h2 class="article-title">{{ post.title }}</h2>
                <h5 class="text-muted">{{ post.subtitle }}</h5>
                <br>
                <p class="article-content">{{ post.content}}</p>
            </div>
            </div>
    </article>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                  <input type="submit" class="btn btn-danger" value="Delete">
              </form>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}